 .button{
 text-decoration:none; 
 text-align:center; 
 padding:11px 28px; 
 border:solid 1px #004F72; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font:13px Georgia, "Times New Roman", Times, serif; 
 font-weight:bold; 
 color:#E5FFFF; 
 background-color:#dd8ee8; 
 background-image: -moz-linear-gradient(top, #dd8ee8 0%, #5a1c66 100%); 
 background-image: -webkit-linear-gradient(top, #dd8ee8 0%, #5a1c66 100%); 
 background-image: -o-linear-gradient(top, #dd8ee8 0%, #5a1c66 100%); 
 background-image: -ms-linear-gradient(top, #dd8ee8 0% ,#5a1c66 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a1c66', endColorstr='#5a1c66',GradientType=0 ); 
 background-image: linear-gradient(top, #dd8ee8 0% ,#5a1c66 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
  }